.first-container{
    float: left;
    padding-bottom: 50px;
    margin: auto
}

.card{
    margin-top: 20px;
}

.form-group{
    float: left;
}

#five-day{
    padding-left: 11px;
    margin-top: 15px;
}

.forecast-rows{
    padding-left: 30px;
}